html, body {
  margin: 0px;
  padding: 0px;
  font-family: century-gothic, sans-serif;
}

#mainContainer {
  /* margin: 0px;
  padding: 0px; */
  background-color: #E0FFFF;
}

#header {
  font-weight: 700;
  color: black;
  font-size: 5vw;
  margin: 0px 0px 0px 38%;
  text-shadow: 2px 2px 1px grey;
}

#outputElement {
  font-weight: 400;
  font-style: italic;
  color: black;
  font-size: 2vw;
  margin: 0px 0px 0px 43%;

}

#outputGrid {
  display: flex;
  flex-direction: column;

}


.background {
  /* margin-left: 50px; */
  width: 80vw;
  height: 25vw;
  border-style: groove;
  border-color: brown;
  display: flex;
  /* align-items: center; */
  align-self: center;
  flex-direction: column;
  margin-bottom: 20px;
}

#DIV {
  /* display: flex; */
  /* justify-content: flex-end; */



}

.contentTitle {
  /* padding-top: 10px; */
  margin-bottom: 0px;
  margin-left: 3vw;
  font-size: 5vw;
  /* display: block; */
  /* color: #483D8B; */
}

H4 {
  line-height: 10px;
  margin-top: 0px;
  /* margin-bottom: 2vw; */
  margin-left: 17vw;
  font-size: 2vw;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap; */
}

.year {
  color: #a82e7b;
}

.albumImage {
  position: absolute;
  justify-content: center;
  margin-top: 3%;
  margin-left: 50%;
  width: 20vw;
  height: 20vw;
  /* box-shadow: 3px 3px 3px #483D8B; */
}
